.alignEnd {
  /* width: 100%; */
  /* display: flex;
    justify-content: flex-end; */
  position: absolute;
  top: 0;
  right: 0;
}

[contenteditable="true"] {
  cursor: text;
  border: 1px solid;
}

ion-card {
  height: 290px;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 9; /* número de linhas desejadas */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

ion-card-subtitle{
  color: #a09f9f !important;
}

ion-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(180deg, transparent 0%, rgb(255, 253, 253) 100%);
}

.containerButtons {
  position: absolute;
  width: 100%;
  bottom: 0;
}
