.btnAddTask {
  max-width: 350px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
}

.btnAddTask span {
  color: var(--ion-color-primary);
}

.btnAddTask:hover span {
  --background: var(--ion-color-medium-100);
  color: var(--ion-color-secondary);
}
