main{
    margin-top: -30px !important;
    /* background-color: red; */
    height: 100vh;
    z-index: 1000;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    overflow: hidden;
    box-shadow: 0px -10px 6px 1px rgba(0,0,0,0.3);

    /* background-color:; */
}

main section{
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 50px;
}

main section ion-grid{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    width: 100%;
}
/* main section div{
    grid-column: 1 / 5;
    grid-row: 1 / 2;
} */



@media(max-width: 780px){
    main{
        margin-top: 0 !important;
        border-radius: 0;
    }
}