.header,
.header-android {
  box-shadow: none;
  background-image: url(../../img/Tasks/Fundo_Banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-android {
  height: 200px;
}

ion-toolbar {
  --background: transparent;
  display: flex;
  justify-content: center;
  height: 100%;
}

@media (min-width:768px){
  .header{
    height:500px;
  }
}
