.header {
  /* background-color: red; */
  box-shadow: none;
  height: 500px;
  background-image: url(../../img/Tasks/Fundo_Banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

ion-toolbar {
  --background: transparent;
  display: flex;
  justify-content: center;
  height: 100%;
}

/* @media (max-width:1024px){
  .header{
    height: 250px;
  }
} */